   div{
    margin:auto;
   }
.red{
    background:red;
    padding:25px 0;
    width:7%;
    height:15%;
    float:left;
    margin-left:20%;
   border:7px solid lightgray;
   border-right:8px solid lightgray;
   border-left:12px solid lightgray;
}
.darkblue{
    background:darkblue;
    padding:25px 0;
    width:14%;
    height:auto;
    float:left;
    border:7px solid lightgray;
    border-left:2px;
    border-right:12px solid lightgray;
}
.yellow{
    background:rgb(134, 98, 7);
    padding:35px 0;
    width:21.5%;
    height:18%;
    float:left;
    margin-left:20%;
    margin-right:60%;
   border:7px solid lightgray;
   border-right:12px solid lightgray;
   border-left:12px solid lightgray;
}
.lightgreen{
    background:rgb(29, 175, 29);
    padding:25px 0;
    width:7%;
    height:15%;
    float:left;
    margin-left:20%;
    margin-right:60%;
   border:7px  solid lightgray;
   border-right:8px solid lightgray;
   border-left:10px solid lightgray;
}
.purple{
    background:purple;
    padding:25px 0;
    width:7%;
    height:15%;
    float:right;
    margin-left:32%;
    margin-right:63.9%;
    margin-top:-4.4%;
    border:7px  solid lightgray;
    border-right:8px solid lightgray;
   border-left:6px solid lightgray;
}
.blue{
    background:blue;
    padding:25px 0;
    width:7%;
    height:15%;
    float:right;
    margin-left:60%;
    margin-right:57%;
    margin-top:-4.4%;
   border:8px solid lightgray;
   border-right:11px solid lightgray;
   border-left:8px solid lightgray;
}
.orange{
    background:orange;
    padding:25px 0;
    width:10%;
    height:10%;
    float:left;
    margin-left:20%;
    margin-right:25%;
    margin-top:-0.1%;
   border:7px  solid lightgray;
   border-right:8px solid lightgray;
   border-left:10px solid lightgray;
   }
   .limeyellow{
    background:limegreen;
    padding:25px 0;
    width:11.9%;
    height:10%;
    float:right;
    margin-left:-74%;
    margin-right:57%;
    margin-top:-0.1%;
   border:9px  solid lightgray;
   border-right:8px solid lightgray;
   border-left:10px solid lightgray;
   }
.darkgreen{
   background:darkgreen;
   padding:15px 0;
   width:5%;
   height:5px;
   float:left;
   margin-left:20%;
   margin-right:60%;
  border:9px  solid lightgray;
  border-right:8px solid lightgray;
  border-left:10px solid lightgray;
}
.skyblue{
   background:skyblue;
   padding:16px 0;
   width:4%;
   height:3px;
   float:right;
   margin-left:40%;
   margin-right:68.7%;
   margin-top:-3.6%;
  border:9px  solid lightgray;
  border-right:8px solid lightgray;
  border-left:9px solid lightgray;
}
.brown{
    background:brown;
    padding:16px 0;
    width:5%;
    height:5px;
    float:right;
    margin-left:40%;
    margin-right:62.7%;
    margin-top:-3.6%;
   border:9px  solid lightgray;
   border-right:8px solid lightgray;
   border-left:9px solid lightgray;
}
.violet{
    background:violet;
    padding:16px 0;
    width:5%;
    height:5px;
    float:right;
    margin-left:50%;
    margin-right:56.9%;
    margin-top:-3.6%;
   border:9px  solid lightgray;
   border-right:8px solid lightgray;
   border-left:9px solid lightgray;
}
.black{
    background:black;
    padding:6px 0;
    width:22%;
    height:5px;
    float:left;
    margin-left:20%;
    margin-right:25.9%;
    margin-top:-0.3%;
   border:9px  solid lightgray;
   border-right:8px solid lightgray;
   border-left:9px solid lightgray;
}
 